<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liveensure.a.mini"
    android:versionCode="21"
    android:versionName="6.0.2" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- needed for google maps api and location services -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- needed for in-app billing -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Features -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- add this attribute to force debugging/logging on  android:debuggable="true" -->
    <application
        android:name="com.liveensure.a.mini.LEApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_2015_256"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="MiniLiveEnsureActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/MiniLiveEnsureFullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

               <!-- <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
            <!-- for app-to-app implicit Intents -->
            <intent-filter>
                <action android:name="com.liveensure.mini.LAUNCH_MINI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.liveensure.mini.LAUNCH_MINI" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="app.liveensure.com"
                    android:pathPrefix="/mini/"
                    android:scheme="https://" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="roll"
                    android:path="/"
                    android:scheme="miniliveensure" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="liveensure.com"
                    android:pathPrefix="/roll"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="liveensure.com"
                    android:pathPrefix="/scan"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- following api key was generated at the google apis console site (see README in this project) -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDc72LaOzZLHgRSjwlSZs5REE1zmJiT_4U" />
    </application>

</manifest>